/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  color: #4a4a4a;
  overflow-x: hidden; }
  body ul,
  body h1,
  body h2,
  body h3 {
    margin: 0;
    padding: 0; }

header {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  padding: 8px 0;
  font-weight: 700; }
  header .navbar-light .navbar-nav .nav-link {
    margin: 0 40px; }
  header .navbar-light .navbar-toggler {
    border: none; }
  header .navbar-light .navbar-toggler-icon {
    padding: 44px 0;
    width: 45px;
    height: 30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,208,19, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important; }
  header img {
    width: 195px;
    display: block;
    margin: 10px auto; }

main #carousel-banner {
  margin-top: 25px; }
  main #carousel-banner .carousel-first {
    background: url("../assets/Carousel/1-xl.jpg") no-repeat;
    background-size: cover;
    padding: 130px 0; }
  main #carousel-banner .carousel-second {
    background: url("../assets/Carousel/2-xl.jpg") no-repeat;
    background-size: cover;
    padding: 130px 0; }
  main #carousel-banner h1 {
    color: #ffcb2e;
    font-family: "Pacifico", cursive;
    font-size: 24px;
    margin-bottom: 30px; }
  main #carousel-banner p {
    color: #fff;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 35px; }
  main #carousel-banner a {
    color: #fff;
    background: #ffcb2e;
    text-decoration: none;
    padding: 15px 50px;
    font-weight: 600;
    font-size: 12px;
    font-family: "Raleway", sans-serif; }
main #fast-services {
  margin: 50px 0; }
  main #fast-services .outline {
    border: 2px solid #ffcb2e;
    padding: 25px 50px; }
  main #fast-services ul {
    list-style: none; }
    main #fast-services ul li {
      display: inline-block;
      width: 32%;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      font-weight: 500; }
      main #fast-services ul li i {
        color: #ffcb2e; }
main #short-info img {
  width: 100%; }
main #short-info h1 {
  font-family: "Merienda One", cursive;
  font-size: 18px;
  margin: 50px 0 30px 0;
  line-height: 1.4; }
  main #short-info h1 .highlight {
    color: #ffcb2e; }
main #short-info p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin-bottom: 45px; }
main #short-info a {
  color: #fff;
  background: #ffcb2e;
  text-decoration: none;
  padding: 15px 50px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Raleway", sans-serif; }
main #short-ad {
  text-align: center;
  color: #fff;
  margin: 50px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Merienda One", cursive; }
  main #short-ad .container {
    background: url("../assets/short-adad.jpg") no-repeat;
    background-size: cover;
    padding: 40px 0; }
main #our-products button {
  outline: none;
  border: none;
  background: transparent; }
main #our-products p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 25px; }
main #our-products h1 {
  margin-bottom: 50px;
  font-family: "Merienda One", cursive;
  position: relative;
  font-size: 18px;
  text-align: center; }
  main #our-products h1 .circle {
    position: absolute;
    padding: 3.5px;
    background: #ffcb2e;
    border-radius: 50%;
    top: 7px; }
  main #our-products h1 .line {
    position: absolute;
    width: 50px;
    height: 2px;
    background: #ffcb2e;
    top: 9px; }
  main #our-products h1 .icon-left .circle {
    left: 42%; }
  main #our-products h1 .icon-left .line {
    left: 38%; }
  main #our-products h1 .icon-right .circle {
    right: 42%; }
  main #our-products h1 .icon-right .line {
    right: 38%; }
main #our-products .product-bg {
  background: #f4f4f4; }
  main #our-products .product-bg img {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 20px 0; }
main #our-products .product-price {
  color: #ffcb2e;
  text-align: right;
  margin-left: 68px; }
main #our-products .card-body {
  padding: 25px 30px 35px 30px; }
  main #our-products .card-body a {
    padding: 10px 24%;
    background: #ffcb2e;
    color: #fff; }
main #our-products .explore-product {
  text-decoration: none;
  color: #ffcb2e;
  border: 1px solid #ffcb2e;
  transition: 0.5s ease-in-out;
  padding: 10px 35px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin: 0 auto; }
main #our-products .explore-product:hover {
  color: #fff;
  background: #ffcb2e; }

@media only screen and (max-width: 1199px) {
  main #our-products h1 .icon-left .line {
    left: 35%; }
  main #our-products h1 .icon-left .circle {
    left: 40%; }
  main #our-products h1 .icon-right .line {
    right: 35%; }
  main #our-products h1 .icon-right .circle {
    right: 40%; } }
@media only screen and (max-width: 991px) {
  header .navbar-light {
    font-size: 14px; }
  header img {
    max-width: 145px; }

  main #fast-services ul li {
    width: 30%; }
  main #our-products h1 .icon-left .line {
    left: 30%; }
  main #our-products h1 .icon-left .circle {
    left: 37%; }
  main #our-products h1 .icon-right .line {
    right: 30%; }
  main #our-products h1 .icon-right .circle {
    right: 37%; }
  main #our-products .product-price {
    margin-left: 175px; }
  main #our-products .card-body a {
    padding: 10px 31%; } }
@media only screen and (max-width: 767px) {
  main #fast-services ul li {
    width: 100%;
    margin: 5px 0; }
  main #our-products h1 .icon-left .line {
    left: 24%; }
  main #our-products h1 .icon-left .circle {
    left: 33%; }
  main #our-products h1 .icon-right .line {
    right: 24%; }
  main #our-products h1 .icon-right .circle {
    right: 33%; }
  main #our-products .product-price {
    margin-left: 135px; }
  main #our-products .card-body a {
    padding: 10px 41%; } }
@media only screen and (max-width: 575px) {
  header .col-sm-6 {
    max-width: 50%; }

  main #fast-services {
    padding: 0 35px; }
  main #our-products .product-price {
    margin-left: 150px; }
  main #our-products .product-bg img {
    height: 250px; }
  main #our-products .card-body a {
    padding: 10px 41%; } }
@media only screen and (max-width: 500px) {
  main #our-products .card-body a {
    padding: 10px 37%; } }
@media only screen and (max-width: 425px) {
  main #our-products h1 .icon-left .line {
    left: 9%; }
  main #our-products h1 .icon-left .circle {
    left: 22%; }
  main #our-products h1 .icon-right .line {
    right: 9%; }
  main #our-products h1 .icon-right .circle {
    right: 22%; }
  main #our-products .product-price {
    margin-left: 150px; }
  main #our-products .card-body a {
    padding: 10px 34%; } }
@media only screen and (max-width: 375px) {
  main #our-products .product-price {
    margin-left: 150px; }
  main #our-products .card-body a {
    padding: 10px 31%; } }

/*# sourceMappingURL=style.css.map */
