/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// color variables
$primary-color: #ffcb2e;

// font variables
$raleway: "Raleway", sans-serif;
$pacifico: "Pacifico", cursive;
$merienda: "Merienda One", cursive;
$roboto: 'Roboto', sans-serif;

body {
  color: #4a4a4a;
  ul,
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
  overflow-x: hidden;
}

// header starts
header {
  font-family: $raleway;
  font-size: 12px;
  padding: 8px 0;
  font-weight: 700;

  //   navbar starts
  .navbar-light .navbar-nav .nav-link {
    margin: 0 40px;
  }

  .navbar-light {
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler-icon {
      padding: 44px 0;
      width: 45px;
      height: 30px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,208,19, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }
  }
  //   nav bar ends

  // logo starts
  img {
    width: 195px;
    display: block;
    margin: 10px auto;
  }
  // logo ends
}

// header ends

// mains starts
main {
  // carousel banner starts
  #carousel-banner {
    margin-top: 25px;
    .carousel-first {
      background: url("../assets/Carousel/1-xl.jpg") no-repeat;
      background-size: cover;
      padding: 130px 0;
    }
    .carousel-second {
      background: url("../assets/Carousel/2-xl.jpg") no-repeat;
      background-size: cover;
      padding: 130px 0;
    }
    h1 {
      color: $primary-color;
      font-family: $pacifico;
      font-size: 24px;
      margin-bottom: 30px;
    }
    p {
      color: #fff;
      font-size: 14px;
      font-family: $raleway;
      margin-bottom: 35px;
    }
    a {
      color: #fff;
      background: $primary-color;
      text-decoration: none;
      padding: 15px 50px;
      font-weight: 600;
      font-size: 12px;
      font-family: $raleway;
    }
  }
  // carousel banner ends

  // fast services starts
  #fast-services {
    margin: 50px 0;
    .outline {
      border: 2px solid $primary-color;
      padding: 25px 50px;
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: 32%;
        text-align: center;
        font-family: $raleway;
        font-size: 13px;
        font-weight: 500;
        i {
          color: $primary-color;
        }
      }
    }
  }
  // fast services ends

  // short info starts
  #short-info {
    img {
      width: 100%;
    }
    h1 {
      font-family: $merienda;
      font-size: 18px;
      margin: 50px 0 30px 0;
      // font-weight: 900;
      line-height: 1.4;
      .highlight {
        color: $primary-color;
      }
    }
    p {
      font-family: $raleway;
      font-size: 14px;
      margin-bottom: 45px;
    }
    a {
      color: #fff;
      background: $primary-color;
      text-decoration: none;
      padding: 15px 50px;
      font-weight: 600;
      font-size: 12px;
      font-family: $raleway;
    }
  }
  // short info ends

  // short ad starts
  #short-ad {
    .container {
      background: url("../assets/short-adad.jpg") no-repeat;
      background-size: cover;
      padding: 40px 0;
    }
    text-align: center;
    color: #fff;
    margin: 50px 0;
    font-size: 18px;
    text-transform: uppercase;
    // font-weight: 600;
    font-family: $merienda;
  }
  // short ad ends
  // our products starts
  #our-products {
    button{
      outline: none;
      border: none;
      background: transparent;
    }
    p{
      font-family: $roboto;
      font-size: 15px;
      margin-bottom: 25px;
    }
    h1 {
      margin-bottom: 50px;
      font-family: $merienda;
      position: relative;
      font-size: 18px;
      text-align: center;
      .circle {
        position: absolute;
        padding: 3.5px;
        background: $primary-color;
        border-radius: 50%;
        top: 7px;
      }
      .line {
        position: absolute;
        width: 50px;
        height: 2px;
        background: $primary-color;
        top: 9px;
      }
      .icon-left {
        .circle {
          left: 42%;
        }
        .line {
          left: 38%;
        }
      }
      .icon-right {
        .circle {
          right: 42%;
        }
        .line {
          right: 38%;
        }
      }
    }
    .product-bg{
      background: #f4f4f4;
      img{
        height: 150px;
        width: auto;
        display: block;
        margin: 0 auto;
        padding: 20px 0;
      }
    }
    .product-price{
      color: $primary-color;
      text-align: right;
      margin-left: 68px;
    }
    .card-body{
      padding: 25px 30px 35px 30px;
      a{
        padding: 10px 24%;
        background: $primary-color;
        color: #fff;
      }
    }
    .explore-product{
      text-decoration: none;
      color: $primary-color;
      border: 1px solid $primary-color;
      transition: 0.5s ease-in-out;
      padding: 10px 35px;
      font-family: $raleway;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      display: block;
      margin: 0 auto;
    }
    .explore-product:hover{
      color: #fff;
      background: $primary-color;
    }
  }
  // our products ends
}
// main ends

@media only screen and (max-width: 1199px){
  main{
    #our-products{
      h1{
        .icon-left{
          .line{
            left: 35%;
          }
          .circle{
            left: 40%;
          }
        }
        .icon-right{
          .line{
            right: 35%;
          }
          .circle{
            right: 40%;
          }
        }
      }
    }
  }
}
// md starts
@media only screen and (max-width: 991px) {
  // header starts
  header {
    .navbar-light {
      font-size: 14px;
    }
    img {
      max-width: 145px;
    }
  }
  // header ends

  // main starts
  main {
    // fast services starts
    #fast-services {
      ul li {
        width: 30%;
      }
    }
    //fast services ends

    // ourprocusts starts
    #our-products{
      h1{
        .icon-left{
          .line{
            left: 30%;
          }
          .circle{
            left: 37%;
          }
        }
        .icon-right{
          .line{
            right: 30%;
          }
          .circle{
            right: 37%;
          }
        }
      }
      .product-price{
        margin-left: 175px;
      }
      .card-body{
        a{
          padding: 10px 31%;
        }
      }
    }
    // our products ends
  }
  // main ends
}
// md ends

@media only screen and (max-width: 767px) {
  // main starts
  main {
    // fast services starts
    #fast-services {
      ul li {
        width: 100%;
        margin: 5px 0;
      }
    }
    //fast services ends

    // ourprocusts starts
    #our-products{
      h1{
        .icon-left{
          .line{
            left: 24%;
          }
          .circle{
            left: 33%;
          }
        }
        .icon-right{
          .line{
            right: 24%;
          }
          .circle{
            right: 33%;
          }
        }
      }
      .product-price{
        margin-left: 135px;
      }
      .card-body{
        a{
          padding: 10px 41%;
        }
      }
    }
    // our products ends
  }
  // main ends
}

// below sm starts
@media only screen and (max-width: 575px) {
  // header starts
  header {
    .col-sm-6 {
      max-width: 50%;
    }
  }
  // header ends

  // main starts
  main {
    // fast services starts
    #fast-services {
      padding: 0 35px;
    }
    //fast services ends
    // ourprocusts starts
    #our-products{
      .product-price{
        margin-left: 150px;
      }
      .product-bg{
        img{
          height: 250px;
        }
      }
      .card-body{
        a{
          padding: 10px 41%;
        }
      }
    }
    // our products ends
  }
  // main ends
}
// below sm ends

// below sm starts
@media only screen and (max-width: 500px) {
  // main starts
  main {
    // ourprocusts starts
    #our-products{
      .card-body{
        a{
          padding: 10px 37%;
        }
      }
    }
    // our products ends
  }
  // main ends
}
// below sm ends

@media only screen and (max-width: 425px){
   // main starts
   main {
    // ourprocusts starts
    #our-products{
      h1{
        .icon-left{
          .line{
            left: 9%;
          }
          .circle{
            left: 22%;
          }
        }
        .icon-right{
          .line{
            right: 9%;
          }
          .circle{
            right: 22%;
          }
        }
      }
      .product-price{
        margin-left: 150px;
      }
      .card-body{
        a{
          padding: 10px 34%;
        }
      }
    }
    // our products ends
  }
  // main ends
}

@media only screen and (max-width: 375px){
  // main starts
  main {
    // ourprocusts starts
    #our-products{
      .product-price{
        margin-left: 150px;
      }
      .card-body{
        a{
          padding: 10px 31%;
        }
      }
    }
    // our products ends
  }
  // main ends
}
